





main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: clamp(1rem, 50vw + 0.5rem, 3.5rem);
    padding-left: clamp(1rem, 50vw + 0.5rem, 3.5rem);
}



.conteudo-biografia{
    width: 100%; 
    padding: clamp(1rem, 4vw, 4rem) 1rem 0; 
    box-sizing: border-box;

    display: flex;
    flex-direction: column; 
    align-items: center;

    min-height: calc(100vh - 150px);
    height: auto; 

    row-gap: 2rem;

}


.biografia {
    padding: clamp(1.5rem, 3vw + 0.5rem, 3rem) clamp(1rem, 4vw, 2.5rem);
    
    max-width: 75ch;
    margin: 0 auto;
    
    line-height: 1.7;
    font-size: clamp(1rem, 0.95rem + 0.3vw, 1.15rem);   
}

.txt-destaque{
    color: var(--highlight );
}

.fonte-img {
    text-align: center;
    opacity: 80%;
}

.card-title {
    color: var(--title-secondary);
    font-size: 1.5rem;
}
.info-pesquisador {
    padding-top: 0.75rem;
    color: var(--title-primary);
    
}

.info-pesquisador h2 {
    font-size: 1rem;
}

