:root {
  --bg-primary: #ffffff;
  --bg-secondary: #CCDEFE;
  --bg-tertiary: #FFDE98;

  --title-primary: #d34604;
  --title-secondary: #4C8EFF;

  --text-primary: rgba(0, 0, 0, 0.76);
  --text-secondary: #876859;

  --border-color-primary: #FFDE98;
  --border-color-secondary:#4C8EFF;
  --highlight : #4C8EFF;
}

@font-face {
    font-family: 'destaque';
    src: url('../fonts/jaro regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'padrao';
    src: url('../fonts/ADLaMDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: "padrao";
}


/* HEADER */
.fundo-header {
    background-color: var(--bg-tertiary) !important; 
    padding: 25px
}

.navbar-toggler-icon {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23d34604' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.logo-img{
    width: clamp(30px, 5vw, 80px);
}

.minoria img{
    width: clamp(20px, 5vw, 60px);

}

.titulo {
    color: var(--title-primary);
    font-family: 'padrao';
    font-size: clamp(1.5rem, 2vw + 1rem, 4rem);
    margin: 0;
}






main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: clamp(1rem, 50vw + 0.5rem, 3.5rem);
    padding-left: clamp(1rem, 50vw + 0.5rem, 3.5rem);
}


.conteudo {
    width: 100%; 

    padding-top: clamp(1rem, 5vw + 0.5rem, 2rem);
    padding-bottom: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

    min-height: calc(100vh - 150px);
    height: auto; 
    margin-bottom: 4rem; 
}


.informativo {     
    
    display: flex;
    width: 100%;
    /* row-gap: 4rem; */
    margin: 0;

    height: calc(100% - 70px); 
    max-height: calc(100% - 70px);
}



/* ÁREAS DE CONHECIMENTO */
.chamada-areas{
    display: block;
    width: 100%;
    height: auto;
    color: var(--title-secondary);

    margin: 1.5rem 2rem 0.5rem
}

.chamada-areas h1 {
    font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
}

.area-stem{
    display: flex;
    justify-content: center;
}

.botoes {
    padding:  0 3.5rem;
}

.botao-area img {
    width: clamp(6rem, 35vw, 15rem);
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

@media (min-width: 900px)and (max-width: 1300px) {
    .botoes {
        padding: 0 2rem;
    }
}

@media (max-width: 700px) {
    .botoes {
        padding: 0 0.5rem;
    .titulo-area {
        font-size: 1.4rem;
    }
    }
}



.botao-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    aspect-ratio: 1 / 1;

    max-height: 180px;

    background-color: var(--bg-secondary);
    padding: 15px;
    border-radius: 60px;
}

.titulo-area {
    text-align: center;
    font-size: 2rem;
    color: var(--title-primary);
    font-family: destaque;
}
/*  TEXTO EXPLICATIVO */



.proposta {
    display: flex;
    align-items: center;
    row-gap: 2rem;


    width: 100%;
    /* max-width: 590px;  */
    height: fit-content;    
    /* max-height: 440px; */

    background-color: var(--bg-tertiary);
    border-radius: 30px;

    margin: 0;

}


.proposta-titulo {
    padding: clamp(0.5rem, 8vw + 0.5rem, 2rem) clamp(0.5rem, 8vw + 0.5rem, 1.5rem);
    padding-bottom: clamp(0.5rem, 8vw + 0.5rem, 3rem);
    text-align: center;
    font-size: clamp(1rem, 2vw + 2rem, 3rem);
    color: var(--title-primary);
}

.proposta-texto {
    padding: 0px clamp(0.2rem, 5vw + 0.1rem, 1.3rem);
    text-align: justify;
    font-size: clamp(0.5rem, 2vw + 1rem, 1.5rem);
    color: var(--text-primary);
}




.destaque{
    color: var(--highlight );
}




/* PARTE DO SOBRE */

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
    background-color: var(--bg-secondary);
    border-radius: 60px;

    padding: 7rem 3rem;
    margin-bottom: 2rem;

    text-align: center;

    border: 1px solid black;

}

.sobre h1 {
    font-size: clamp(2rem, 4vw + 1.5rem, 3rem);
    padding-bottom: 1.5rem;
    color: var(--title-primary);
}

.sobre p {
    text-align: justify;
    font-size: clamp(1rem, 1.5vw + 1rem, 1.25rem);
    padding: 0 3rem;
}


footer {
    background-color: var(--bg-tertiary);
    padding: 15px;
    text-align: center;
    color: var(--title-primary);

    margin-top: 4rem;
}



